body {
  position: relative;
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.4;
  color:#0B254B;
  background-color: #FFFFFF;
  min-width: 375px;
  overflow-x: hidden;
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  height: 75px;
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo{
  width: 126px;
  height: 34px;
  margin-left: 150px;
}


.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 15px;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #272727;
  text-decoration: none;
  padding: 20px;
}


.navbar-add {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 200px;
}

.account{
  width: 34px;
  height: 34px;
  margin-right: 25px;
}

.basket{
  width: 29px;
  height: 28px;
}

footer {
  width: 100%;
  height: auto;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  margin-top: 70px;
  width: 1110px;
  height: auto;
  border-top: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E1E1E1;
  margin-bottom: 200px;
}

.footer-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 200px;
  bottom: 50px;
}

.footer-logo img {
  width: 250px;
  height: auto;
}

.footer-logo  h3 {
  position: relative;
  bottom: 26px;
  text-align: left;
  font-weight: 400;
}

.footer-ul {
  position: relative;
  margin-left: 0;
  padding-left: 0;
  top: 50px;
}

.footer-ul li {
  list-style-type: none;
  margin: 35px 0;
}

/*products*/

.product {
  width: 255px;
  height: 230px;
  margin: 20px;
  display: inline-block;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 40px -5px rgba(0, 0, 0, 0.15)
}

.product a:active,
.product a:hover,
.product a {
  text-decoration: none;
  color: #666;
}

.photo img {
  width: 100%;
  height: 100%;
}

.photo {
  background-size: cover;
  width: 255px;
  height: 155px;
  background-color: #F7F8FA;
}

.product p {
  margin-left: 10%;
  margin-right: 10%;
}

.name {
  position: relative;
  bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.name .a-name {
  color: #0B254B;
}

.price {
  position: relative;
  bottom: 25px;
  text-align: right;
  color: #56B280;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.price .a-price {
  color: #56B280;
}