{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'users/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="login-container">
    <form action="{% url 'users:login' %}" method="post" class="login-inputs-container">
        {% csrf_token %}
        <p class="container-title">Sign In</p>
        {{ form.username }}
        {{ form.password }}
        <div class="create-account">
            <button class="create-account-button">
                <a class="link" href="{% url 'users:register' %}">Create an Account</a>
            </button>
        </div>
        <div class="sign-in">
            <a class="link">
                <button class="sign-in-button" type="submit">Sign In</button>
            </a>
        </div>
    </form>
</div>

{% endblock %}