{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'users/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="login-container">
    <div class="login-inputs-container">
        <p class="container-title">Sign In</p>
        <input class="input-email" name="text" type="text" placeholder="Enter your email">
        <input class="input-password" name="text" type="text" placeholder="Enter your password">
        <div class="create-account"><button class="create-account-button">Create an Account</button></div>
        <div class="sign-in"><button class="sign-in-button">Sign In</button></div>
    </div>

</div>

{% endblock %}