{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'users/css/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container">
    <form class="profile-container" action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="photo-container">
            <div class="photo">
                <img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'users/images/user-avatar.png' %} {% endif %}" alt="">
            </div>
        </div>
        <label for="file-upload" class="photo-change-button">Change photo</label>
        {{ form.image }}
        <div class="profile-inputs-container">
            <label>First name:</label>
            {{ form.first_name }}
            <label>Last name:</label>
            {{ form.last_name }}
            <label>Email:</label>
            {{ form.email }}
            <label>Username:</label>
            {{ form.username }}
        </div>
        <button class="save-changes" type="submit">Save changes</button>
    </form>
</div>
{% endblock %}