{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'users/css/register.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="register-container">
    <form class="register-inputs-container">
        <p class="container-title">Create an Account</p>
        <input class="name" name="text" type="text" placeholder="First Name">
        <input class="name" name="text" type="text" placeholder="Last Name">
        <input class="input-email" name="text" type="email" placeholder="Email Adress">
        <input class="input-password" name="text" type="password" placeholder="Choose a Password">
        <input class="input-password" name="text" type="password" placeholder="Repeat a Password">
        <div class="sign-in">
            <button class="sign-in-button" >
                <a class="link" href="{% url 'users:login' %}">Sign In</a>
            </button>
        </div>
        <div class="create-account">
            <button class="create-account-button">
                <a class="link" href="">Create an Account</a>
            </button>
        </div>
    </form>
</div>
{% endblock %}