{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'users/css/register.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="register-container">
    <form action="{% url 'users:register' %}" method="post" class="register-inputs-container">
        {% csrf_token %}
        <p class="container-title">Create an Account</p>
        {{ form.username }}
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        <div class="sign-in">
            <button class="sign-in-button" >
                <a class="link" href="{% url 'users:login' %}">Sign In</a>
            </button>
        </div>
        <div class="create-account">
            <button class="create-account-button" type="submit">Create an Account</button>
        </div>
    </form>
</div>
{% endblock %}