.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: auto;
    margin-top: 30px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}
.photo {
  width: 132px;
  height: 132px;
  overflow: hidden;
  border-radius: 50%;
}

.photo img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.photo-change-button  {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
  background: #56B280;
  width: 180px;
  height: 30px;
  color: #FFFFFF;
  font-size: 18px;
  border: none;
  border-radius: 3px;
}

.photo-change-button:hover {
  background-color:#448f66;
}

.photo-change-button-input {
    display: none;
}

.profile-inputs-container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-inputs-container input {
  width: 100%;
  height: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.profile-inputs-container input:hover {
  border: 2px solid #56B280;
  box-shadow: 0px 0px 20px -17px;
}

.read {
    background: #eeeeee;
}

.profile-inputs-container label {
    margin-top: 10px;
    margin-left: 10px;
}

.save-changes {
  background: #56B280;
  width: 180px;
  height: 40px;
  color: #FFFFFF;
  font-size: 18px;
  border: none;
  border-radius: 3px;
    margin-bottom: 100px;
}

.save-changes:hover {
  background-color:#448f66;
}