{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'products/css/about.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="page-about-container">
    <div class="page-about">
        <p>
            Candleaf is an enchanting boutique nestled in a charming corner of the city, dedicated
            to the art and craft of candle making. As soon as you step into Candleaf, you're greeted
            by a warm, inviting atmosphere that immediately relaxes you. The walls are painted in soothing
            earth tones, and there's a gentle, subtle scent in the air – a blend of lavender, vanilla,
            and a hint of sandalwood.
        </p>

        <p>
            The shop features an extensive array of candles, each one handcrafted with meticulous care.
            The range includes everything from small, delicate tealights perfect for a cozy dinner table to large,
            statement pillar candles that can be the centerpiece of any room. The candles come in various shapes and
            sizes, and the variety of colors is a feast for the eyes - from deep, rich reds and blues to soft pastels
            and natural beeswax hues.
        </p>
        <p>
            One of the highlights of Candleaf is its selection of scented candles.
            These candles are made with natural essential oils and offer an array
            of fragrances, from the refreshing zest of citrus to the sweet allure
            of summer berries. Seasonal scents are also available, ensuring there's
            always something new to discover.
        </p>
        <p>
            In addition to candles, Candleaf also offers a range of candle-related accessories,
            such as elegant holders, snuffers, and wick trimmers, all designed to enhance your
            candle-burning experience.
        </p>
        <p>
            Candleaf isn't just a store; it's a haven for candle enthusiasts. The staff are knowledgeable and passionate
            about their craft. They offer workshops where customers can learn the art of candle making, from the basics
            of wax selection and scent blending to the skills needed to create beautifully layered candles.
        </p>
        <p>
            The shop also has a commitment to sustainability. They use eco-friendly materials and
            processes wherever possible, and many of their products are made from recycled or renewable resources.
        </p>
        <p>
            Candleaf is more than just a place to buy candles. It's an experience, a place where you can slow down,
            breathe in the tranquil atmosphere, and find the perfect candle to light up your life.
            Whether you're a candle aficionado or new to the world of candles, Candleaf welcomes you with open
            arms and a flickering flame.
        </p>
    </div>
</div>
{% endblock %}