{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'products/css/detail.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="detail-container">
    <div class="detail-img">
        <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
        <p>All hand-made with natural soy wax, Candleaf is <br>made for your pleasure moments.</p>
        <h1>🚚 FREE SHIPPING</h1>
    </div>
    <div class="detail-purchase">
        <h1>{{ product.name }} Candleaf&#174;</h1>
        <div class="purchase-container">
            <div class="price-quantity">
                <div class="price"><h1>{{ product.price }}$</h1></div>
                <div class="quantity"></div>
            </div>
            <div class="purchase-choices">
                <ul>
                    <li><span>Wax:</span> Top grade Soy wax that delivers a smoke less, consistent burn</li>
                    <li><span>Fragrance:</span> Premium quality ingredients with natural essential oils</li>
                    <li><span>Burning Time:</span> 70-75 hours</li>
                    <li><span>Dimension:</span> 10cm x 5cm</li>
                    <li><span>Weight:</span> 400g</li>
                </ul>
            </div>
        </div>
        <a href="{% url 'cart:add' product.id %}"><button class="add-to-cart">Add to cart</button></a>
        <div class="product-description">
            <p>{{ product.description}}</p>
        </div>
    </div>
</div>
{% endblock %}