{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'products/css/discovery.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="discovery-container">
    <div class="categories">
        <ul>
            <li>Categories:</li>
            <li>Ordinary candle</li>
            <li>Premium candle</li>
            <li>Candle bundles</li>
        </ul>

    </div>
    <div class="discovery-products">
        <div class="products">
            {% for product in all_products %}
            {% include 'products/includes/product.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}