{% extends 'base.html'%}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'products/css/index.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="mainpage-image">
    <div class="mp-text">
        <h1>🌱</h1>
        <h1>The nature candle</h1>
        <h3>All handmade with natural soy wax, Candleaf is a companion for all your pleasure moments </h3>
        <button id="discoveryButton" data-static-url="{% url 'products:discovery' %}">Discovery our collection</button>
    </div>
</div>
<div class="products-text">
    <h1>Products</h1>
    <h3>Order it for you or for your beloved ones </h3>
</div>
<div class="prod-container">
    <div class="products">
        {% for product in mainpage_products %}
        {% include 'products/includes/product.html' %}
        {% endfor %}
    </div>
</div>
<div class="product-info">
    <div class="product-info-child">
        <div class="info-text">
            <h1>Clean and</h1>
            <h1>fragrant soy wax</h1>
            <p>Made for your home and for your wellness</p>
            <ul>
                <li><span>Eco-sustainable: </span>All recyclable materials, 0% CO2 emissions</li>
                <li><span>Hyphoallergenic: </span>100% natural, human friendly ingredients </li>
                <li><span>Handmade: </span>All candles are craftly made with love.</li>
                <li><span>Long burning: </span>No more waste. Created for last long.</li>
            </ul>
            <button id="aboutButton" data-static-url="{% url 'products:about' %}">Learn more</button>
        </div>
        <div class="info-image">
            <img  src="{% static 'products/images/info.png' %}">
        </div>
    </div>
</div>
<div class="testimonials">
    <h1>Testimonials</h1>
    <h3>Some quotes from our happy customers</h3>
    <div class="feedback-container">
        <div class="feedback">
            <img class="person" src="{% static 'products/images/luisa.png' %}">
            <div class="stars">
                {% include 'products/includes/stars.html' %}
            </div>
            <h1>“I love it! No more air</h1>
            <h2>fresheners”</h2>
            <h3>Luisa</h3>
        </div>
        <div class="feedback">
            <img class="person" src="{% static 'products/images/eduardo.png' %}">
            <div class="stars">
                {% include 'products/includes/stars.html' %}
            </div>
            <h1>“Raccomended for </h1>
            <h2>everyone”</h2>
            <h3>Edoardo</h3>
        </div>
        <div class="feedback">
            <img class="person" src="{% static 'products/images/mart.png' %}">
            <div class="stars">
                {% include 'products/includes/stars.html' %}
            </div>
            <h1>“Looks very natural, the</h1>
            <h2> smell is awesome”</h2>
            <h3>Mart</h3>
        </div>
    </div>
</div>

<div class="popular-product">
    <h1>Popular</h1>
    <h3>Our top selling product that you may like</h3>
    <div class="pop-product">
        {% for product in popular_products %}
        {% include 'products/includes/product.html' %}
        {% endfor %}
    </div>
</div>
<script src="{% static 'products/js/index.js' %}"></script>
{% endblock %}